:root{
    --color: #232323;
    --text-color: #ffffff;
    --font: "Rubik", serif;
    --sub-text-color: #D98D11;
    --red: #FF1500;
    --light-bg: #605f5f;
    --box-color: #000000;
    --box: #160e00;
}
.about{
    width: 100%;
}
.about-container{
    position: relative;
    justify-self: center;
    justify-content: center;
    background-color: var(--color);
    width: 81.5rem;
    height: 45rem;
    display: flex;
}
.our-history{
    position: absolute;
    text-align: center;
    top: 2rem;
}
.our-history h1{
    color: var(--sub-text-color);
}
.welcome{
    position: absolute;
    padding: 2rem;
    top: 2.5rem;
}
.welcome span{
    font-size: 1em;
    color: var(--text-color);
}
.story{
    position: absolute;
    padding: 2rem;
    top: 7rem;
}
.story h4{
    font-size: 1.2em;
    color: var(--text-color);
}
.story span{
    font-size: 1em;
    color: var(--text-color);
}
.values{
    position: absolute;
    padding: 2rem;
    top: 17rem;
}
.values h4{
    font-size: 1.2em;
    color: var(--text-color);
}
.values span{
    font-size: 1em;
    color: var(--text-color);
}
.looking{
    position: absolute;
    padding: 2rem;
    top: 28rem;
}
.looking h4{
    font-size: 1.2em;
    color: var(--text-color);
}
.looking span{
    font-size: 1em;
    color: var(--text-color);
}